/* 
 * 
 * $Colours
 *
**/

// White
$white: #fff;

// Greys
$slate: #454550;

// Blues
$sky: #1192f5;
$blue-dark: #28263f;
$prussian-blue: #222235;

// Golds
$orange: #ef432d;
$gold: #fec200;

// Greens
$grass: #45af4b;

// Reds/pinks
$hot-pink: #ec1461;
$blood: #f6402b;
$venetian-red: #b70e0c;

/*
 * Brand Colours
*/

$brand1: $white;
$brand2: $prussian-blue;
$brand3: $grass;
$brand4: $sky;
$brand5: $hot-pink;
$brand6: $blood;
$brand7: $venetian-red;
$brand8: $orange;
$brand9: $slate;
$brand10: $gold;
$brand11: $blue-dark;

$error: #bd0a0a;

$sections: (organisation, $brand8) (people-management, $brand5)
  (process, $brand4) (partners-and-alliances, $brand3) (technology, $brand10)
  (our-customers, $brand4) (kpis-intro, $brand5) (kpis, $brand1);
