/* 
 * 
 * $Mixins
 *
**/

/*Breakpoints*/
 @mixin breakpoint($point) {
    @if $point == bp7 {
    @media (min-width: $bp7) { @content ; }
    }
    @if $point == bp6 {
	 @media (min-width: $bp6) { @content ; }
  }
    @if $point == bp5 {
     @media (min-width: $bp5) { @content ; }
  }
   @if $point == bp4 {
     @media (min-width: $bp4) { @content ; }
  }
   @else if $point == bp3 {
     @media (min-width: $bp3) { @content ; }
  }
    @else if $point == bp2 {
     @media (min-width: $bp2) { @content ; }
  }
   @else if $point == bp1 {
     @media (min-width: $bp1)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
}


/*Clearfix*/
@mixin clearfix() {
    zoom: 1;
    &:after {
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
        content: "";
    }
}


/*Border Radius*/
@mixin border-radius($radius: 6px) {
    -webkit-border-radius:   $radius;
    -moz-border-radius:      $radius;
    border-radius:           $radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}


/*Transition*/
@mixin transition($time: 0.2s) {
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -ms-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}


/*Keyframes Mixin*/
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}


/*Fade In*/
@include keyframes(fade-in) {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


// Gradient line
@mixin keyline() {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fec200+0,ed7013+20,b70e0c+40,ec1461+60,2989d8+80,45af4b+100 */
    background: #fec200; /* Old browsers */
    background: -moz-linear-gradient(left,  #fec200 0%, #EF432D 20%, #b70e0c 40%, #ec1461 60%, #2989d8 80%, #45af4b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fec200 0%,#EF432D 20%,#b70e0c 40%,#ec1461 60%,#2989d8 80%,#45af4b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fec200 0%,#ed7013 20%,#b70e0c 40%,#ec1461 60%,#2989d8 80%,#45af4b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec200', endColorstr='#45af4b',GradientType=1 ); /* IE6-9 */
}