/*
 *
 * $Forms - Base form styles
 *
**/

form {
  float: left;
  width: 100%;
  margin-bottom: $ms2;
}

label {
  float: left;
  width: 100%;
  margin-bottom: $ms-6;
  @include font-fancy;
  @include type-medium;
  text-transform: uppercase;
  font-weight: $fw-bold;
  color: $brand1;

  @include breakpoint(bp1) {
    margin-bottom: $ms-8;
    @include type-small;
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
textarea {
  float: left;
  width: 100%;
  padding: $ms-3;
  margin-bottom: 0;
  @include font-body;
  @include type-small;
  line-height: 1;
  color: $brand1;
  background-color: transparent;
  border: 1px solid $brand1;
  -webkit-input-appearance: none;
  @include border-radius($curve);
  @include transition();
  outline: none;

  &::-webkit-input-placeholder {
    color: $brand2;
  }
  &:-ms-input-placeholder {
    color: $brand2;
  }
  &::-moz-placeholder {
    color: $brand2;
  }
  &:-moz-placeholder {
    color: $brand2;
  }

  // Reset Webkit autofill colour
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $brand1 inset !important;
  }

  &:focus {
    outline: none;
    border-color: $brand3;
    @include transition();
  }

  @include breakpoint(bp1) {
    padding: $ms-4 $ms-3;
  }
}

fieldset {
    padding:0;
    border:0;
}

textarea {
  padding: $ms-2;
  height: 200px;
}


// Field group
.form__group {
  float: left;
  width: 100%;
  margin-bottom: $ms-1;
}


// Custom Radio
.form__radio {
  display: inline-block;
  margin: $ms-8 $ms1 0 0;

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    + label {
      margin-bottom: 0;
      @include font-body;
      @include type-small;
      text-transform: none;
      font-weight: $fw-regular;
      cursor: pointer;

      &:before {
        content: "";
        position: relative;
        display: inline-block;
        top: 2px;
        width: 1.4em;
        height: 1.4em;
        margin-right: $ms-4;
        vertical-align: top;
        text-align: left;
        background: transparent;
        border: 1px solid darken($brand2, 25%);
        box-shadow: inset 0 0 0 5px $brand1;
        @include border-radius(100%);
        @include transition(0.2s);
      }
    }
    &:checked {
      + label {
        &:before {
          background-color: $brand2;
          box-shadow: inset 0 0 0 6px $brand1;

          @include breakpoint(bp3) {
            box-shadow: inset 0 0 0 7px $brand1;
          }
        }
      }
    }
    &:focus {
      + label {
        &:before {
          outline: none;
          border-color: $brand2;
        }
      }
    }
    &:disabled {
      + label {
        &:before {
          box-shadow: inset 0 0 0 6px $brand2;
          border-color: darken($brand2, 25%);
          background: transparent;
        }
      }
    }
    + label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}


// Custom Select element
.form__select {
  position: relative;
  float: left;
  width: 100%;
  padding: $ms-4 $ms-3;
  line-height: 1;
  border: 1px solid $brand2;
  overflow: hidden;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url(#{$base-image-url}/svgs/caret-down.svg);
  background-size: contain;
  @include border-radius($curve);

  @include breakpoint(bp1) {
    padding: $ms-5 + 0.025em $ms-7;
  }
}

select {
  float: left;
  width: 115%;
  @include font-body;
  @include type-small;
  line-height: 1;
  background: transparent;
  outline: none;
  border: none;
  -webkit-input-appearance: none;
  appearance: none;
  @include border-radius($curve);
}


// Checkboxes
// Label
.form__label--checkbox {
    margin-bottom: 0;
    @include font-body;
    @include type-small;
    text-transform: none;
    font-weight: $fw-regular;
    cursor: pointer;
}

.form__checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height:24px;
    background: $brand1;
    border:1px solid $brand2;
    @include border-radius($curve);
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url(#{$base-image-url}/svgs/tick.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}