/*
 * $Tables
 *
 */

table {
  display: table;
  width:100%;
  margin:0 0 $ms2;
  border-collapse:collapse;

  thead {
      tr { padding:0; }
  }

  tr {
    display: block;
    padding:$ms-2 0;
    border:0;  

        @include breakpoint(bp3){
            display: table-row;
            padding:0;
        }
    }    

  th, td {
    display: block;
    width: 100%;
    text-align:left;

    @include breakpoint(bp3){
        display: table-cell;
        width: auto;
    }
  }    

  th { 
    display: none;
    @include font-fancy;
    @include type-medium;

    @include breakpoint(bp3){
        display: table-cell;
    }
  }  

  td {
    @include font-body;
    font-weight: $fw-regular;

    &:before {
        display: inline-block;
        margin-right: $ms-6;
        margin-bottom: $ms-8;
        content: attr(data-th) " ";
        @include type-medium;
        font-weight: bold;

        @include breakpoint(bp3){    
            display: none;
        }        
    }
  }
}

.table--content {
    margin-bottom: 0; 
    
    tr { 
        padding:$ms1 0;
        border-bottom:1px solid $brand1; 

        &:last-of-type {
            padding-bottom: 0;
            border-bottom: 0;
        } 

        @include breakpoint(bp3){    
            padding:0; 
        }           
    }

    tbody tr {
        &:first-of-type {
            border-top:1px solid $brand1;
        }         
    }

    th, td { padding:0 0 $ms-4; }

    th {
        @include breakpoint(bp3){    
            padding:$ms-2 0; 
        }          
    }

    td {
        @include breakpoint(bp3){    
            padding:$ms2 0; 
        }   

        &:first-of-type {
            @include breakpoint(bp3){   
                width:33.333%;
                padding-right:$ms2;               
            }         
            @include breakpoint(bp4){    
                padding-right:$ms4;                 
            }  
            
            p {
                max-width: 400px; 

                @include breakpoint(bp3){    
                    font-weight: $fw-bold; 
                    font-style: italic;
                }
                @include breakpoint(bp6){    
                    max-width: 600px; 
                }
            }            
        }

        &:last-of-type { 
            padding-bottom: 0; 

            p { max-width: 900px; }
        
            @include breakpoint(bp3){
                width:66.666%; 
                padding-bottom: $ms2;
            }            
        }
        
        p, ul, ol { 
            &:last-of-type { margin-bottom: 0; } 
        }
    }
}

.table--striped {
    tr {
        padding-left:$ms-4;
        padding-right:$ms-4;

        @include breakpoint(bp3){
            padding:0;
        }
    }  

    th,td { padding:$ms-6 $ms-6; }

    th {
        padding-left: $ms-8 - .1em;
        padding-right: $ms-8 - .1em;
    }

    tbody {
        tr {
          background-color: $brand9;
  
          &:nth-of-type(2n){ background-color: $brand2; }  
        }
    }

    td {  
        @include breakpoint(bp3){
            &:nth-of-type(1n){
                width: 20%;
            }
            &:nth-of-type(2n){
                width: 50%;
            }
            &:nth-of-type(3n){
                width: 4%;
                padding:0;
            }   
            &:nth-of-type(4n){
                width: 26%;
            }   
        }             
    }

    .td-status {
        display: block;
        width: 70px;
        height: 38px;

        @include breakpoint(bp3){
            width: 100%; 
            height: 48px;
        }
    }
    .td-status--none { background-color: $brand2; }
    .td-status--poor { background-color: #B70E0C; }
    .td-status--okay { background-color: #ED7013; }
    .td-status--good { background-color: #1b8520; }
}