/* 
 * 
 * $Block
 *
**/

.block {
    display: block;
    width: 100%;

    @include breakpoint(bp4){
        @include type-medium;
        
        p:last-of-type { margin-bottom: 0; }
    }
}

.block--bordered { 
    @include breakpoint(bp4){
        padding-right: $ms2;
        border-right: 2px solid $brand1; 
    }    
}