/* 
 * 
 * $Chart
 *
**/

.chart {
    position: relative;
    display: none;
    width: 100%;
    height: auto;
    overflow: visible;
    z-index: 0;

    @include breakpoint(bp3){
        display: block;
    }
}


.chart__nav {
    position: relative;
    display: block;
    width: 100%;
    height:auto;
    z-index: 1;
}

.chart__link {
    path { @include transition(); }

    &:hover {
        path {
            fill: #37364c;
            @include transition();
        }
    }
}
.chart__link--text {
    &:hover {
        path {
            fill: darken($brand1,30%);
        }
    }
}

.chart__circle {
    position: absolute;
    height:auto;
    opacity: .8;
    z-index: 0;

    circle {
        fill:none;
        stroke:#2D2D47;
        stroke-miterlimit:10;
    }
}

.chart__circle1 {
    bottom:-80%;
    left:-120%;
    width:100%;

    circle {
        stroke-width:40;
    }    
}

.chart__circle2 {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:170%;

    circle {
        stroke-width:80;
    }    
}

.chart__circle3 {
    top:-80%;
    right:-120%;
    width:100%;

    circle {
        stroke-width:23;
    }    
}