/* 
 * 
 * $Intro
 *
**/

.intro {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: $ms0;

    @include breakpoint(bp3){
        padding-bottom: $ms2;
        margin-bottom: $ms-4;
    }

    p {
        @include type-medium;
        line-height: $ms1;

        
        @include breakpoint(bp4){
            &:last-of-type { margin-bottom:0; }
        }
        @include breakpoint(bp6){
            @include type-large;
        }
    }

    &:after {
        display: none;
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: 1px;
        content:'';
        @include keyline();

        @include breakpoint(bp3){
            display: block;
        }
    }
}


// Title
@each $section, $colour in $sections {
    .intro--#{$section} {
        .intro__title { color: $colour; }
        .intro__icon--link span { color: $colour; }
    }
}


// Icon
.intro__icons {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;

    @include breakpoint(bp4){
        float: right;
        width: auto;
    }
}

.intro__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height:140px;
    padding:$ms-4;
    margin-bottom: 0;
    border:1px solid $brand1;
    @include border-radius(100%);

    @include breakpoint(bp4){
        width: 170px;
        height:170px;
    }    
}

.intro__icon--link {
    @include type-medium;
    font-weight: $fw-bold;
   
    @include breakpoint(bp3){
        @include type-small;
    }  
    @include breakpoint(bp4){
        @include type-medium;
    }  
}

.intro__icon--symbol {
    margin-left: $ms0;

    svg {
        display: block;
        margin:0 auto;
        width: 60px;
        height: 60px;

        @include breakpoint(bp4){
            width: 90px;
            height: 90px;
        }        
    }
}
.intro__icon--kpis {
    svg {
        width: 80px;
        height: 80px;

        @include breakpoint(bp4){
            width: 100px;
            height: 100px;
        }          
    }
}