/* 
 * 
 * $Modal
 *
**/

.modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:$ms0;
    background-color: $brand2;
    opacity: 0;
    z-index: -1;
    @include transition();

    &.active {
        opacity: 1;
        z-index: 5;
    }

    @include breakpoint(bp2){
        padding:$ms4 $ms2;
    }
}


.modal__close {
    position: absolute;
    top:$ms0;
    right:$ms0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    color:$brand1;

    svg {
        display: block;
        width: 30px;
        height: auto;

        path {
            @include transition();
        }

        @include breakpoint(bp1){
            width: 40px;
        }        
        @include breakpoint(bp2){
            width: 67px;
        }        
    }   
    
    span { 
        position: relative;
        top:1px;
        margin-right: $ms-5; 
        @include type-xsmall;

        @include breakpoint(bp2){
            @include type-small;
        }        
        @include breakpoint(bp3){
            @include type-medium;
        }        
    }    
}