/* 
 * 
 * $Video
 *
**/

.video-container {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;

    @include breakpoint(bp4){
        width:80%;
        padding-top: 45%; 
    }    

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}