/* 
 * 
 * $Footer
 *
**/

.site-footer {
    position: relative;
	float:left;
    width:100%;
    padding:$ms3 0;
    background-color: $brand11;
    z-index: 1;

	p {
		margin-bottom:0;
		@include type-xsmall;
		line-height:$ms0;
	}

	a {
		color:$brand1;
        font-weight:$fw-regular;
        text-decoration: none;
        border-bottom: 0;

		&:hover {
            color:$brand1;
            text-decoration: underline;
		}	
	}
}


.site-footer__inner {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}


.site-footer__brand {
    display: block;
    width: 140px;
    height:auto;
    margin-bottom: $ms0;

    @include breakpoint(bp5){
        margin-bottom: 0;
    }
}


.site-footer__detail {
    float: left;
    width: 100%;
    margin-bottom: $ms-6;

    @include breakpoint(bp5){
        float: none;
        width:auto;
        padding:0 $ms-4;
        margin-bottom: 0;
        border-left:1px solid $brand1;

        p {
            font-size: $ms-3; 
            text-align: center;
        }
    }    
    @include breakpoint(bp6){
        padding:0 $ms0;

        p {
            @include type-xsmall;
        }        
    }
}


.site-footer__desc {
    display: block;
    width: 100%;
    margin-bottom: $ms0;

    @include breakpoint(bp5){
        width: 500px;
        padding:0 $ms0;
        margin-bottom: 0;

        p { font-size: $ms-3; }
    }
    @include breakpoint(bp6){
        width: auto;

        p {
            @include type-xsmall;
        }
    }
}