/* 
 * 
 * $Header
 *
**/

.site-header {  
    position: fixed;
    display: block;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    min-height: 700px;
    background-color: $brand11;
    z-index: 4;
    z-index:0;
    opacity: 0;
    @include transition();

    @include breakpoint(bp3){
        min-height: 780px;
    }

    &.active {
        opacity: 1;
        z-index: 4;
    }
}


.site-header__circle {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:61.5%; 
    height:auto;
    opacity: .8;
    z-index: 0;

    circle {
        fill:none;
        stroke:#2D2D47;
        stroke-miterlimit:10;
        stroke-width:80;
    }       
}