/* 
 * 
 * $Hero
 *
**/

// Structure
.hero {
  position: relative;
  float: left;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background-color: $brand11;
  background-image: url(#{$base-image-url}/backgrounds/circles.svg);
  background-position: center;
  background-size: 120% auto;
  background-repeat: no-repeat;
  overflow: hidden;

  @include breakpoint(bp2) {
    min-height: 700px;
    background-size: 80% auto;
  }
  @include breakpoint(bp3) {
    background-image: none;
  }
  @include breakpoint(bp5) {
    min-height: 880px;
  }
  @include breakpoint(bp6) {
    min-height: 940px;
  }
  @include breakpoint(bp7) {
    min-height: 1000px;
  }
}

.hero__inner {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  padding-top: 120px;

  @include breakpoint(bp1) {
    padding-top: 180px;
  }
  @include breakpoint(bp2) {
    min-height: 700px;
  }
  @include breakpoint(bp5) {
    padding-top: $ms4;
    min-height: 900px;
  }
  @include breakpoint(bp6) {
    min-height: 940px;
  }
  @include breakpoint(bp7) {
    min-height: 1000px;
  }
}

// Header
.hero__header {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.hero__brand {
  display: none;
  float: left;
  width: 340px;

  @include breakpoint(bp5) {
    display: block;
  }
}

.hero__slogan {
  margin-bottom: 0;
  @include type-xlarge;

  @include breakpoint(bp3) {
    float: right;
  }

  span {
    clear: both;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 100;

    @include breakpoint(bp3) {
      text-align: right;
    }
  }
}

// Main Body Section
.hero__main {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 0;
}

.l-hero-main-col {
  display: block;
  flex-basis: 100%;
  width: 100%;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    @include breakpoint(bp3) {
      flex-basis: 50%;
      width: 50%;
    }
  }
  &:nth-of-type(1) {
    @include breakpoint(bp5) {
      flex-basis: 26%;
      width: 26%;
    }
  }
  &:nth-of-type(2) {
    padding: 0 2%;

    @include breakpoint(bp5) {
      flex-basis: 44%;
      width: 44%;
    }
  }
  &:nth-of-type(3) {
    @include breakpoint(bp5) {
      flex-basis: 26%;
      width: 26%;
    }
  }
}

.hero__intro {
  position: relative;
  display: block;
  width: 100%;
  max-width: 460px;
  z-index: 1;

  @include breakpoint(bp3) {
    max-width: 460px;
  }

  p {
    @include type-medium;
    line-height: $ms1;

    @include breakpoint(bp1) {
      @include type-xlarge;
    }
    @include breakpoint(bp3) {
      @include type-medium;
    }
    @include breakpoint(bp5) {
      font-size: $ms1 - 0.1em;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.hero__main-video-trigger {
  display: none;
  width: 100%;
  max-width: 140px;
  margin: 0 auto;
  cursor: pointer;

  @include breakpoint(bp5) {
    position: relative;
    display: block;
    top: $ms3 + 0.2em;
    max-width: 340px;
  }

  svg {
    display: block;
    width: 140px;
    height: auto;
    margin-bottom: $ms-1;

    path {
      @include transition();
    }
  }

  p {
    @include type-medium;
    line-height: $ms1;

    @include breakpoint(bp5) {
      @include type-large;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:hover {
    svg path {
      // Video play symbol
      &:last-of-type {
        fill: $brand1 !important;
        @include transition();
      }
    }
  }
}

// Footer Section

.hero__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 75px;
  padding: $ms0 0;
  z-index: 3;

  @include breakpoint(bp2) {
    min-height: 120px;
  }
}

.hero__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 1px;
  @include keyline();
  z-index: 0;
}

.hero__video-trigger {
  display: none;
  position: relative;
  float: left;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-right: $ms-3;
  margin-bottom: 0;
  background-color: $brand11;
  cursor: pointer;
  z-index: 1;

  @include breakpoint(bp5) {
    display: flex;
  }

  svg {
    display: block;
    width: 30px;
    height: auto;

    path {
      @include transition();
    }

    @include breakpoint(bp1) {
      width: 40px;
    }
    @include breakpoint(bp2) {
      width: 67px;
    }
  }

  span {
    position: relative;
    top: 1px;
    margin-left: $ms-5;
    @include type-xsmall;

    @include breakpoint(bp2) {
      @include type-small;
    }
    @include breakpoint(bp3) {
      @include type-medium;
    }
  }

  &:hover {
    svg path {
      // Video play symbol
      &:last-of-type {
        fill: $brand1 !important;
        @include transition();
      }
    }
  }
}

.hero__more {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  padding: $ms-5;
  background-color: $brand11;
  margin-bottom: 0;
  @include border-radius(100%);

  svg {
    display: block;
    width: 100%;
    height: auto;
  }

  @include breakpoint(bp1) {
    width: 80px;
  }
  @include breakpoint(bp2) {
    width: 90px;
  }
}
