/* 
 * 
 * $Section
 *
**/

.section {
	float:left;
	width:100%;
    padding:$ms5 0;
}

.section--space {
    padding-top: 100px;
    padding-bottom: 100px;
    
    @include breakpoint(bp2){
        padding-top: 140px;
        padding-bottom: 140px;
    }
}

@each $section, $colour in $sections {
    .section--#{$section} {
        background-color: $colour;
    }
}


.section__title {
    margin-bottom: $ms-2;
}