/* 
 * 
 * $SiteNav
 *
**/

.site-nav {	
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.nav-primary {
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    transform: translate(-50%,-50%);
    margin:0;
}


.menu-item {
  display:block;
  width: 100%;
  list-style:none;
  padding:0;
  margin:0 0 $ms0;
  text-align: center;
  
    &.current-menu-item a,
    &.current-menu-parent a {
        color:$brand3;
    }

	@include breakpoint(bp2){
        position:relative;
		display:block;
        padding:0;
        margin-bottom: $ms-2;
    }
}


.menu-item a {
	position: relative;
	clear:both;
    display:inline-block;
    padding:0;
	margin-bottom:0;
	@include font-fancy;
	@include type-xlarge;
	color:$brand1;
    text-align:center;
	text-decoration:none;
    line-height:$ms0;
    font-weight: $fw-bold;
    @include transition(.25s);

    @include breakpoint(bp3){
        @include type-giga;
    }
}

@each $section, $colour in $sections {
    .menu-item--#{$section} a {
        color: $colour;
        &:focus, 
        &:hover {
           color: darken($colour,20%);
        }    
    }
}