/* 
 * 
 * $PrimaryNavToggle
 *
**/

.site-nav-trigger {
	position: relative;
    float: right;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-left: $ms-3;
	margin-bottom:0;
	text-decoration:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    @include type-small;
    background-color: $brand11;
    cursor:pointer;
    z-index: 1;

    svg {
        width: 30px;
        height:auto;
        margin-left: $ms-6;
    }
    
    @include breakpoint(bp1){
        @include type-medium;

        svg { width: 40px; }
    }
    @include breakpoint(bp2){
        svg { width: 67px; }
    }        
}
.site-nav-trigger--hero {
    display: none;

    @include breakpoint(bp5){
        display: flex;
    }
}


$toggleW: 18px;

/*Button Lines*/
@mixin line {
  display:block;
  width:$toggleW;
  height:1px;
  background:$brand2;
  @include transition();
}

.site-nav-trigger__symbol {
	/*create middle line*/
	@include line;
	position: relative; 
   
	/*create the upper and lower lines 
	as pseudo-elements of the middle line*/
	&:before, &:after {
	  @include line;
	  position: absolute;
	  left:0;
	  content: '';
	  transform-origin: 3px center;
	}
	&:before { top:-6px; }
	&:after { top:6px; }
  }
  
  .active .site-nav-trigger__symbol {
	  /*hide the middle line*/
	  background: transparent;
   
	  /*overlay the lines by setting both their top values to 0*/
	  &:before, &:after{
		transform-origin: 50% 50%;
		top:0;
		width: $toggleW;
		background-color: $brand1;
	  }
   
	  /*rotate the lines to form the x shape*/
	  &:before{
		transform: rotate3d(0,0,1,45deg); 
		-ms-transform:rotate3d(0,0,1,45deg);
		-webkit-transform:rotate3d(0,0,1,45deg);
	  }
	  &:after{
		transform: rotate3d(0,0,1,-45deg); 
		-ms-transform:rotate3d(0,0,1,-45deg);
		-webkit-transform:rotate3d(0,0,1,-45deg);
	  }
  }