/* 
 * 
 * $Toolbar
 *
**/

.toolbar {   
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    min-height: 75px;
    padding:$ms0 0;
    background-color: $brand11;
    border-bottom: 1px solid $brand1;
    z-index: 5;

	@include breakpoint(bp5){
        padding:$ms-1 0;
        min-height: 111px;
        transform: translateY(-100%);
        @include transition();

        &.active {
            transform: translateY(0);
        }
    }

}


.toolbar__inner {
    position: relative;
    float: left;
    width: 100%;
}


.toolbar__line {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,50%);
    width: 100%;
    height:1px;
    @include keyline();
    z-index: 0;
}


.toolbar__video-trigger {
    position: relative;
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-right: $ms-3;
    margin-bottom: 0;
    background-color: $brand11;
    cursor:pointer;
    z-index: 1;

    svg {
        display: block;
        width: 30px;
        height: auto;

        @include breakpoint(bp1){
            width: 40px;
        }        
        @include breakpoint(bp2){
            width: 67px;
        }        
    }

    span { 
        position: relative;
        top:1px;
        margin-left: $ms-5; 
        @include type-xsmall;

        @include breakpoint(bp2){
            @include type-small;
        }        
        @include breakpoint(bp3){
            @include type-medium;
        }        
    }

    &:hover {
        path {
            // Video play symbol
            &:last-of-type {
                fill: $brand1 !important;
            }
        }
    }
}


.toolbar__logo {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100px;
    padding:0 $ms-3;
    background-color: $brand11;
    margin-bottom:0;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    @include breakpoint(bp2){
        width: 160px;
    }  
	@include breakpoint(bp3){
        width:220px;
	}
}